:root {
  --ff-1: 'Bebas Neue', helvetica, sans-serif;
  --ff-2: 'Anton', sans-serif;
  --ff-3: 'Quicksand', sans-serif;
  --ff-4: 'Quattrocento Sans', sans-serif;
  --ff-5: helvetica;
  --ff-6: 'Habibi', serif;

  /** Widths */
  --max-text-width: 60ch;

  /** Oranges */
  --bg-orange: #a62f12;
  --bg-ai-orange: #bb3b2f;

  /** Blues */
  --bg-flag-blue: #0a202e;
  --bg-royal-blue: #090446;
  --bg-oxford-blue: #14213d;
  --bg-ai-blue: #283565;

  /** Whites */
  --bg-platinum: #dce0d9;
}

/*! Font Family Definitions */
.ff-1 {
  font-family: var(--ff-1);
}
.ff-2 {
  font-family: var(--ff-2);
}
.ff-3 {
  font-family: var(--ff-3);
}
.ff-4 {
  font-family: var(--ff-4);
}

.ff-5 {
  font-family: var(--ff-5);
}

.ff-6 {
  font-family: var(--ff-6);
}

/*! Font Size Definitions */
.font-size-1 {
  font-size: 4.209rem;
}
.font-size-2 {
  font-size: 3.157rem;
}
.font-size-3 {
  font-size: 2.369rem;
}
.font-size-4 {
  font-size: 1.777rem;
}
.font-size-5 {
  font-size: 1.333rem;
}
.font-size-6 {
  font-size: 1rem;
}

/*! Background Color Definitions */
.background-orange {
  background-color: var(--bg-orange);
}
.background-ai-orange {
  background-color: var(--bg-ai-orange);
}

.background-flag-blue {
  background-color: var(--bg-flag-blue);
}

.background-royal-blue {
  background-color: var(--bg-royal-blue);
}

.background-oxford-blue {
  background-color: var(--bg-oxford-blue);
}

.background-platinum {
  background-color: var(--bg-platinum);
}

.background-ai-blue {
  background-color: var(--bg-ai-blue);
}

/*! Color Definitions */
.color-orange {
  color: var(--bg-orange);
}
.color-ai-orange {
  color: var(--bg-ai-orange);
}

.color-flag-blue {
  color: var(--bg-flag-blue);
}

.color-royal-blue {
  color: var(--bg-royal-blue);
}

.color-oxford-blue {
  color: var(--bg-oxford-blue);
}

.color-platinum {
  color: var(--bg-platinum);
}

.color-ai-blue {
  color: var(--bg-ai-blue);
}

/*! Maximum Text Block Width */
.ch-60 {
  max-width: var(--max-text-width);
}

/*! Main Content Styles */
#hero-image {
  background-image: url('../media/images/trey-flag-6.png');
  background-position: 50% 0%;
  height: 70vh;
  background-size: cover;
  background-attachment: local;
  border-right: 1px solid var(--bg-platinum);
  border-bottom: 1px solid var(--bg-platinum);
}

.border-right-none {
  border-right: none !important;
}

#header-elect-trey-div {
  border-bottom: 1px solid var(--bg-platinum);
  border-bottom: 1px solid var(--bg-royal-blue);
}

.keynote-content {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--bg-flag-blue);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.keynote-content span {
  background: var(--bg-ai-orange);
  padding: 0 10px;
  font-size: 1.2em;
}
